/* Author: L.Abu-Jaber
   Date: 04/2023 
   Description: Portfolio site to show current projects

   Contents:
    1. GLOBAL SETTINGS (23)
    2. TYPOGRAPHY (50)
    3. LAYOUT - MAIN COMPONENTS (125)
    4. LAYOUT - GENERAL REUSABLE COMPONENTS (185)
    4.1 GENERAL CONTAINERS (189)
    4.2 TEXT CONTAINERS (235)
    4.3 IMAGE CONTAINERS (310)
    5. LANDING PAGE COMPONENTS (400)
    6. PERSONAL PROJECTS (PP) COMPONENTS (490)
    7. CV COMPONENTS (582)
    8. UTILITIES (635)
    9. BUTTONS (655)
    10. ANIMATIONS (680)
    11. MEDIA QUERIES (756)
    # Note - line numbers are approx.
*/
/* ==================
* 1. GLOBAL SETTINGS
===================== */
/* use with Main and home html */
:root {
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --char-multiplier: 0.29dvw;
    --focus-colour: 0 0 1px 2px rgb(234, 174, 61);
    --background-light: rgb(237, 241, 247);
    --background-main: rgb(250,250,250);
    --imageFrame-width: 360px;
}
* {
    margin: 0;
    box-sizing: border-box;
    /*scroll-behavior: smooth;*/
}
html {
    color-scheme: normal;
    font-size: clamp(0.8rem, 1dvw, 1.25rem);
} 
body {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 1.5;
    background-color: var(--background-main);
}

/* ==================
* 2. TYPOGRAPHY
=================== */
 /* font styling */
h1 {
    text-align: center;
    font-size: calc(1rem + var(--char-multiplier));
}
/* h2 default, no additional styling */
h3 {
    background: linear-gradient(to right,green,rgb(2, 203, 103));
    font-size: calc(1.6rem + var(--char-multiplier));
    font-family: Arial;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    color: #302f2f;
}
#p6 {
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 400;
}

/*general link styles for all pages*/
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}
li {
    text-align: center;
    flex: 3;
}
/*class for font awesome icons*/
.user {
    flex:1;
}
a {
    display:inline-block;
    width:fit-content;
    color: black;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-size: calc(0.9em + var(--char-multiplier));
}
/*font awesome icons*/
i {
    width: 20px;
    color: rgb(234, 174, 61);
    transform: scale(2);
    margin: 4px;
}

/* highlight active links on hover */
li a:hover:not(.active) {
    transition: all 500ms ease-in-out;
    transform: scale(1.1);
    color:white;
}
li i:hover:not(.active) {   
    color:white;
}

/* Used for name on home nav */
.italText{
    font-style: italic;
}

/* ================================
* 3. LAYOUT - MAIN COMPONENTS
================================ */

/* repeated base elements for each page */
.pageTitle {
    width: 100%;
    height: fit-content;
    font-size: calc(2.5rem + var(--char-multiplier));
    color: white;
    text-align: left;
    padding-left: 20px;
}
    .pageTitle p {
        margin: 0;
        padding: 0;
        background-color: #666666;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    }

.nav {
    background-color: rgb(46,117,182);
    width: 100%;
    height: fit-content;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: sticky;
    top: 0;
    transition: all 1s;
}

    .nav p {
        color: white;
    }
    .stickyColourChange1 {
        background-color: rgb(37,123,147);

    }
    .stickyColourChange2 {
        background-color: rgb(28,129,115);
    }
    .stickyColourChange3 {
        background-color: rgb(14, 168, 32);
    }
    
/* Changed from original design - now only set at the bottom of cv */
.footer {
    background-color: rgb(99, 146, 248);
    width: 100%;
    margin-top: 20px;
    min-height: 15dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: clamp(0.8rem, 0.9dvw, 1.25rem);
}

/* ========================================
* 4. LAYOUT - GENERAL REUSABLE COMPONENTS
======================================== */

/* =========================
* 4.1 GENERAL CONTAINERS
========================== */ 
.wrapper {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
}
.background-light {
    background-color: var(--background-light);
}
/* col1 used in each project page */
.col1 {
    width: 100%;
    min-height: 20dvh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    align-content: center;
    padding: 0 10dvw ; 
}
/* box to contain links to zip file and github repos in degree projects*/
.colSpacer {
    width: 100%;
    min-height: 6dvh;
    margin: 1rem auto 3rem auto;
    text-align: center;
    align-items: center;
    padding: 0 5px;
    border-radius: 20px;
}

    .colSpacer.line {
        border: 5px solid;
        border-color: gold;
    }
    .colSpacer.linearGradient {    
        border: 3px solid;
        border-image-source: linear-gradient(145deg, gold,red,gold);
        border-image-slice: 1;
    }

/* ============================================================
* 4.2 TEXT CONTAINERS 
* - used in all pages with either textBox or text-container
============================================================= */
/* general text box container */ 
.textBox {
    text-align: center;
    width: 100%;
    padding: 10px 20px;
}
/* used for intro on home */
.textBox--Left {
    text-align: justify;
    padding: 10px 20px;
    margin: 30px 30px;
}
/* divider at end of each degree project with different content */
/* can't use ::before or ::after as col1 used elsewhere 
and different content in each */  
.textBox--Divider {
    width: 100%;
    text-align: center;
    padding: 0 0 5px 0;
    margin-bottom: 20px;
    background-color: #ff6a06;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
    .textBox--Divider p {
        color:rgb(238, 10, 10);
    }
.text-container {
    max-width: 600px;
    height: auto;
    text-align: justify;
    padding: 0.25rem;
    margin: 0.5rem auto;
    border-radius: 3px;
    background-color: transparent;
}
    .text-container.dp {
        max-width: 100%;
    }

/* for each project title */
.title {
    width: 100%;
    height: fit-content;
    font-size: calc(1.5rem + var(--char-multiplier));
    color: white;
    text-align: left;
    margin: auto;
}

/* cards in home page and cv for skills etc */
.card {
    width: 100%;
    display: flex;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    margin: 2px;
    background-color: white;
}
    .card-title {
        min-width: 30%;
        padding: 5px;
        color: white;
        font-style: oblique;
        display: flex;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        background-color: rgb(67, 98, 155);
        border-radius: 5px;
    }

/* ============================================================
* 4.3 IMAGE CONTAINERS 
* - used in all pages with either textBox or text-container
============================================================= */
/* general elements for re-use over any page */
img {
    max-width: 100%;
    display: block;
    margin: auto;
    box-shadow: var(--box-shadow);
    border-radius: 8px;
}

/*image cards */
.imageCase {
    max-width: 360px;
    max-height: auto;
    margin: auto;
    padding: 1rem;
    
}
.imageFrameContainer {
    max-width: auto;
    max-height: 360px;
    padding:3px;
    border: 1px double #302f2f ;
}
.imageFrame {
    max-width: var(--imageFrame-width);
    max-height: 260px;
    position: relative;
    padding: 2px;
    transition: all 400ms ease-in-out;
    background-color: rgb(116, 18, 18);
    border-radius: 5px;
    border: 10px black solid;
    border-top-width: 15px;
    border-bottom-width: 15px;
}
/* Additional design added to image cards to look like a laptop */
    .imageFrame:before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: -7px;
        background: white;
        display: block;
        transform: translate(-50%, -50%);
        box-shadow: inset 0 1px 2px 0 gray;
    }
    .imageFrame-bottom {
        max-width: var(--imageFrame-width);
        height: 17px;
        background-color: rgb(145, 145, 145);
        border-radius: 0 0 30px 30px;
        margin: 1px 0 0 0;
        border-bottom: 2px solid;
    }
    .feet {
        max-width: 100%;
        height: 1.5px;
        border-radius: 10px;
        margin: 0 15px;
        background: linear-gradient(
            to right,
            rgb(107, 106, 106) 10%, 
            transparent 10%, 
            transparent 90%,
            rgb(107,106,106) 90%,
            rgb(107,106,106) 100%);
    }
    .imageFrame-bottom.reflect {
        transform: rotate(180deg) ;
        mask-image: linear-gradient(transparent 50%, white 95%);
        opacity: 0.5;
        margin: 0;
    }
    
    .imageFrame:hover img{
        filter: brightness(110%);
        box-shadow: none;
    }
    
    .imageFrame img {
        width: 310px;
        height: 190px;
        border-radius: 0 0 0 0;
    }
/* personal projects */
.imageCase.pp {
    max-width: 600px;
    margin: 1rem auto;
}
  

/* ==========================
* 5. LANDING PAGE COMPONENTS
===========================*/
/* home page only */
.header {
    width: 100%;
    height: 55dvh;
    display: flex;
    flex-wrap: nowrap;
    background-image: url(/pics/Banner-lapimage.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: rgb(46,117,182);*/ 
}
    .header img {
        content: "";
        min-width: 80px;
        transform: scale(0.7);
        transition: all 1s ease-in-out;
        border-radius: 50%;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    }
    #img-pos {
        flex-grow: 1;
        padding: 10px 0;
        overflow: hidden;
    }
    .header img:hover {
        transform: scale(0.8) ;
        box-shadow: 0 0.25rem 1.5rem rgba(0, 0, 0, 0.6);
    }

/* used in home header for name */    
#header-textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    margin: auto 0;
    padding: 10px 10px;
}
    #header-textBox p {
        font-weight: bolder;
        font-size: calc(2.5rem + 0.65dvw);
        color: black;
    }

/* diff color */
#home-footer {
    background-color: rgb(38, 17, 17); 
    width: 100%;
    min-height: 15dvh;
    font-size: clamp(0.8rem, 0.9dvw, 1.25rem);
    margin: 10px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
    #home-footer a {
        color: white;
    }
/* in home page for future planned project */
.work-in-progress {
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: 3px;
    display: inline-block;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 30px;
    background-color: white;
}
    .wip-image-container {
        background-color: #84c4f8;
        background-image: url("../pics/stickynote.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        max-width: 100px;
        height: auto;
        padding: 20px 10px;
        float: left;
    }

    .wip-text {
        color: gray;
        font-size: 16px;
        font-family:'Edu SA Beginner',cursive;
    }
    

/* ====================================
* 6. PERSONAL PROJECTS (PP) COMPONENTS 
* - mainly for gallery displays
=====================================*/
.subtitle {
    font-size: calc(1.125rem + var(--char-multiplier));
}
/* racing game image display */
.img-RacingGame { 
    background-color: transparent;
    width: fit-content;
    margin: 10px auto 10px auto;
    border-radius: 3px;
    display: flex;
    flex-direction: row; 
    padding: 5px; 
    justify-content: space-between;
    align-items:first baseline;
}
    .img-RacingGame img {
        padding: 5px;
    }

/* word guess game expanding gallery */
.gallery-container {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: row;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: fit-content;
}
    /* Gallery image behaviour */ 
    .slide {
        flex: 1;
        overflow: hidden;
        transition: 0.5s;
        margin: 0 2%;
        line-height: 0;   
    }
    
    .slide > img {
        width: 200%;
        height: calc(100% - 10vh);
        object-fit: cover; 
        transition: 0.5s;
        border-color: white;
        border-style: solid;
        border-width: 5px;
    }
    .slide > span {
        font-size: calc(1rem + var(--char-multiplier));
        display: block;
        text-align: center;
        height: 40px;
        padding-top: 20px;  
    }
    .slide:hover { flex: 1 1 50%; }
    .slide:hover > img {
        width: 100%;
        height: 100%;
    }
      
/* An additional responsive grid gallery container for django pics. 
Added for mobile viewing as light-box is not effective */
.imgGridWrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 1%;
}
    .gallery {
        display: none;
        gap: 0.25rem;
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
        transition: all 500ms ease-in-out;   
    }
    .imgGridWrap a:hover {
        filter: brightness(90%) drop-shadow(5px 5px 5px gray);   
    }
    
    .btn-gallery:hover {
        box-shadow: 0 4px 8px 0 greenyellow;
        background-color: rgb(14, 168, 32, 0.6);
    }


/* ==================
* 7. CV COMPONENTS
====================*/
/* document display */
.docContainer {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}
.docFrame {
    background-color:rgb(233, 233, 247);
    max-width: 800px;
    margin: 20px 0;
    box-shadow: var(--box-shadow);
    border: yellow;
    border-style: ridge;
    padding: 10px;
    display: flex;
    flex-direction: column;
    transition: all 1.5s ease-in-out;  
}
    .docFrame a {
        color: rgb(22, 11, 235);
    }
    .docFrame a:hover {
        color: rgb(198, 147, 52);     
    }  
    
.docContainer .text-container {
    max-width: 800px;
    margin: 5px auto;
    text-align: center;
}

#PDFView1, #PDFView2 {
    width: 100%;
    height: 600px;
    padding: 2px;
    display: none;
    align-items: center;
}    

/* used in cv links and button click */
    .itemRowSpace { 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    }

/* ==============
* 8. UTILITIES 
===============*/
/* show and hide additional descriptive text in text-containers*/
.show-text {
    display: block;
}
.hide-text {
    display: none;
}
.toggle-icon {
    cursor: pointer;
}
.fa-arrow-down,
.fa-arrow-up {
    margin: 0 2px;
    transition: transform 0.3s;
    transform: scale(1);
}

/* ===============
* 9. BUTTONS
-============== */
/* Return to top of section anchor */
.scrollToTopButton {
    position: relative;      
} 

.btn-gallery {
    margin: 1rem auto;
    background-color: white;
    border-style: none;
    cursor: pointer;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 0.5rem;
    transition: all 300ms ease-in;
}
    .btn-gallery:active {
        outline: 0.2px solid rgb(255, 115, 0);
        border-radius: 6px;
        box-shadow: var(--focus-colour);
        transition: all 1s ease-in-out;
    }

/* ================
* 10. ANIMATIONS
================= */
/* css animation element fade in courtesy of 
h ttps://alvarotrigo.com/blog/css-animations-scroll/*/
.reveal {
    position: relative;
    opacity: 0;
    }
    .reveal.active {
        opacity: 1;
    }
    .active.fade-bottom {
        animation: fade-bottom 1s linear;
    }
    .active.fade-left {
        animation: fade-left 1s ease-in-out;
    }
    .active.fade-right {
        animation: fade-right 1s ease-in-out;
    }
    .active.fade-in {
        animation: fade-in 1s ease-in-out;
    }
    .active.img-animate {
        animation: img-animate 3s ease-in-out;
    }
    @keyframes img-animate {
        0% {
            transform: scale(1.0) rotate(-2deg);
            opacity: 0;
        }
        100% {
            
            opacity: 1.0;
        }
    }
    @keyframes fade-bottom {
        0% {
        transform: translateY(50px);
        opacity: 0;
        }
        100% {
        transform: translateY(0);
        opacity: 1;
        }
    }
    @keyframes fade-left {
        0% {
        transform: translateX(-100px);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
    @keyframes fade-right {
        0% {
        transform: translateX(100px);
        opacity: 0;
        }
        100% {
        transform: translateX(0);
        opacity: 1;
        }
    }
    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

/* ##################
* 11. MEDIA QUERIES
################## */
@media (width >= 1000px) { 
    .wrapper {padding: 2rem 10% 2rem 10%; }
    }
@media ( width >= 600px) and (width < 1000px) { 
    .img-RacingGame { flex-direction: column; align-items: center; }
    .gallery-container { flex-direction: column; }
}
@media (width < 600px) { 
    .img-RacingGame { flex-direction: column; align-items: center; }
    .col1 { padding: 0; }
    .gallery-container { flex-direction: column; }
    .header img:hover { transform: scale(0.7);}
}
@media (prefers-reduced-motion) {
    html {
      scroll-behavior: none;
    }
  }

  