/* contains laptop and text */
.imageCase {
    max-width: 360px;
    height: 100%;
    margin: auto;
    padding: 1rem;
}

/* contains laptop components */
.imageFrameContainer {
    width: 100%;
    height: 100%;
    padding: 3px;
}

/* start building laptop components */
.imageFrame {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 2px;
    transition: all 400ms ease-in-out;
    background-color: rgb(116, 18, 18);
    border-radius: 5px;
    border: 10px black solid;
    border-top-width: 15px;
    border-bottom-width: 15px;
}

/* Additional design added to image cards to look like a laptop */
.imageFrame:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -7px;
    background: white;
    display: block;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 1px 2px 0 gray;
}

.imageFrame-bottom {
    max-width: 100%;
    height: 17px;
    background-color: rgb(145, 145, 145);
    border-radius: 0 0 30px 30px;
    margin: 1px 0 0 0;
    border-bottom: 2px solid;
}

.feet {
    max-width: 100%;
    height: 1.5px;
    border-radius: 10px;
    margin: 0 15px;
    background: linear-gradient(to right,
            rgb(107, 106, 106) 10%,
            transparent 10%,
            transparent 90%,
            rgb(107, 106, 106) 90%,
            rgb(107, 106, 106) 100%);
}

.imageFrame-bottom.reflect {
    transform: rotate(180deg);
    mask-image: linear-gradient(transparent 50%, white 95%);
    opacity: 0.5;
    margin: 0;
}

.imageFrame:hover img {
    filter: brightness(110%);
    box-shadow: none;
}

.imageFrame img {
    width: fit-content;

    border-radius: 0 0 0 0;
}